@import "./common.css";

body {
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  overscroll-behavior: none;
}

body > * {
  max-height: var(--height);
}

/* Side menu */
#side-menu {
  padding: 0 var(--padding-horizontal);
  padding-top: var(--main-padding-top);
  padding-bottom: calc(var(--safearea-bottom) + var(--padding-vertical));
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--padding-vertical));
  min-width: var(--side-menu-width);
  margin-left: calc(-1 * var(--side-menu-width));
  height: 100%;
  background: linear-gradient(45deg, var(--color-5-percent), transparent);
}

#side-menu > a,
#side-menu > button {
  padding: 12px 0;
  border-radius: var(--border-radius);
  justify-content: flex-start;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
}

#side-menu .fill {
  flex-grow: 1;
}

/* Activate transition */
body.transition-on > *,
body.transition-on #nav,
body.transition-on #main,
body.transition-on #agent,
body.transition-on #agent-response {
  transition: var(--transition-time);
}

body.menu-opened #side-menu  {
  margin-left: 0;
  padding-left: calc(var(--padding-horizontal) + var(--safearea-left));
}

/* Main container */
#main-content {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  transition: var(--transition-time);
  padding-left: var(--safearea-left);
  padding-right: var(--safearea-right);

  --_shadow: none;
  -webkit-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
}

body.menu-opened #main-content  {
  --_shadow: var(--side-menu-shadow);
}

#main-content > * {
  width: var(--width);
  transition: var(--transition-time);
}

body.menu-opened #main-content  {
  padding-left: 0;
}

/* Top nav */
#nav {
  width: 100% !important;
  height: auto;
  opacity: 1;
  padding-left: var(--safearea-left);
  padding-right: var(--safearea-right);
}

body.keyboard-up #nav {
  height: 0;
  opacity: 0;
}

/* Nav | Menu button left */
#nav > button {
  position: relative;
  padding: 0 !important;
  --_height: calc(var(--nav-height) - var(--safearea-top));
  width: var(--_height);
  height: var(--_height);
}

#nav > button > hr {
  position: absolute;
  margin: 0;
  --_border-width: 1px;
  --_gap: 8px;
  border: var(--_border-width) solid var(--color);
  border-radius: 5px;
  left: var(--padding-horizontal);
  width: 14px;
  transition: var(--transition-time);
}

#nav > button > hr:first-of-type {
  top: calc(0.5 * (var(--_height) - var(--_gap)) - var(--_border-width));
}

#nav > button > hr:last-of-type {
  top: calc(0.5 * (var(--_height) + var(--_gap)) - var(--_border-width));
}

body.menu-opened #nav > button {
  margin-left: calc(-2 * var(--padding-horizontal) - 16px + 0.5 * var(--safearea-left));
}

body.menu-opened #nav > button > hr {
  width: 20px;
}

body.menu-opened #nav > button > hr:first-of-type {
  transform: translate(-3px, 4px) rotate(45deg);
}

body.menu-opened #nav > button > hr:last-of-type {
  transform: translate(-3px, -4px) rotate(-45deg);
}

/* Main */
#main {
  padding: 0 var(--padding-horizontal);
  padding-top: var(--main-padding-top);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

body.keyboard-up #main {
  padding-top: 0;
}

/* Main | AI Agent */
#agent {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  gap: 10px;
  width: 100%;
  margin-top: 0;
  --_border-radius: calc(0.5 * var(--picture-size));
  border-radius: var(--_border-radius);
}

body.keyboard-up #agent {
  margin-top: calc(-1 * var(--picture-size));
  opacity: 0;
}

#agent-dialog > div:first-of-type {
  max-width: var(--width);
  background: var(--color-5-percent);
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--padding-vertical);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-vertical) var(--padding-horizontal);
  border: 1px solid var(--color-5-percent);
}

#agent::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--background);
  border-bottom-left-radius: var(--_border-radius);
  border-bottom-right-radius: var(--_border-radius);
}

#agent::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--_border-radius);
  background: linear-gradient(to right, var(--color-5-percent), var(--background-5-percent), var(--background));
}

#agent > div:first-of-type {
  width: var(--picture-size);
  height: var(--picture-size);
  border-radius: var(--border-radius-round);
  border: 1px solid var(--color-5-percent);
  background: var(--gradient);
  overflow: hidden;
}

#agent-dialog > div:first-of-type > div:first-of-type {
  --_size: calc(1.5 * var(--picture-size));
  margin-top: calc(-0.5 * var(--_size) - var(--padding-horizontal));
  width: var(--_size);
  height: var(--_size);
  border-radius: var(--border-radius-round);
  background: var(--gradient);
  overflow: hidden;
  border: 1px solid var(--color-5-percent);
  --_shadow: 0 4px 20px #00000022;
  -webkit-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
}

#agent-dialog > div:first-of-type  ul {
  list-style-position: inside;
  padding-left: 0;
}

#agent-dialog > div:first-of-type > h1 {
  font-weight: 600;
}

#agent-dialog > button {
  --_size: 20px;
  width: calc(var(--size) + 2 * var(--padding-horizontal));
  height: calc(var(--size) + 2 * var(--padding-vertical));
  padding: var(--padding-vertical) var(--padding-horizontal);
  filter: var(--icon-filter);
  pointer-events: none;
}

#agent-dialog > button > img,
#agent-dialog > div:first-of-type > div:first-of-type > img,
#agent > div:first-of-type > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#agent > div:last-of-type {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#agent > div:last-of-type {
  color: var(--color-50-percent);
  font-size: 12px;
  font-weight: 400;
}

#agent > div:last-of-type b {
  font-size: 16px;
  color: var(--color);
}

#agent > span:last-of-type {
  --_size: 20px;
  width: var(--_size);
  height: var(--_size);
  border-radius: var(--border-radius-round);
  border: 1.5px solid var(--color);
  font-size: 12px;
  padding-left: 1px;
  padding-top: 9px;
  line-height: 0;
}

#agent-dialog > div > h1 > * {
  display: inline-block;
}

/* Main | Text */
#agent-response {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--padding-vertical);
  width: 100%;
  max-height: 100%;
  flex-grow: 1;
  padding-top: calc(0.5 * var(--picture-size) + 2 * var(--padding-vertical));
  padding-bottom: calc(var(--footer-height) + var(--padding-vertical));
  margin-top: calc(-0.5 * var(--picture-size));
  overflow-x: hidden;
  overflow-y: auto;
}

body.keyboard-up #agent-response {
  padding-top: var(--padding-vertical);
  margin-top: 0;
}


#text {
  flex-grow: 1;
  padding: 0 calc(0.5 * var(--picture-size));
  font-weight: 300;
  font-size: 16px;
}

#text .row {
  display: flex;
  align-items: center;
  gap: var(--padding-horizontal);
  overflow-x: auto;
  overflow-y: visible;
  max-width: 100%;
  padding: 4px 0px;
}

#text .br {
  width: var(--padding-horizontal);
  height: var(--padding-vertical);
}

#text button {
  border-radius: var(--border-radius-round);
  padding: 0 10px 1px 10px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: var(--color-10-percent);
  border: 1.5px solid transparent;
}

#text img {
  max-width: 100%;
  /* object-fit: contain; */
  object-position: left;
  border-radius: 8px;
}

#text img.small {
  max-width: 30%;
}

#thinking {
  position: absolute;
  width: 100%;
  min-height: 176px;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#thinking > div:first-of-type {
  width: 72px;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-round);
  border: 1px solid transparent;
  opacity: 0.5;
  outline: 0px solid transparent;
  outline-offset: 0px;
  animation: thinking 1s linear infinite;
}

#thinking > div:first-of-type:before {
  content: "";
  --_blur: 20px;
  --_shadow: 0 0 30px #4C57F2;
  -webkit-filter: blur(var(--_blur));
  filter: blur(var(--_blur));
  -webkit-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
  width: 100%;
  height: 100%;
  display: block;
  border-radius: var(--border-radius-round);
  background: radial-gradient(#8DF5FF9A 0%, #4CECF287 25%, #4C57F2CC 100%);
}

#thinking > div:last-of-type {
  position: absolute;
  bottom: 0;
}

@keyframes thinking {
  0% {
    outline: 0px solid transparent;
    outline-offset: 0px;
    width: 72px;
    opacity: 0.5;
    border: 1px solid transparent;
  }

  15% {
    outline: 5px solid #4C57F287;
    outline-offset: 0px;
    border: 1px solid transparent;
  }

  30% {
    outline: 1px solid #4C57F287;
    outline-offset: 0px;
    width: 96px;
    opacity: 0.9;
    border: 2px solid #4CECF222;
  }

  60% {
    border: 1px solid transparent;
  }

  100% {
    outline: 10px solid transparent;
    outline-offset: 30px;
    /* -webkit-filter: blur(5px);
    filter: blur(5px); */
    width: 72px;
    opacity: 0.5;
  }
}

#thinking.hidden {
  display: none;
}

/* Input text */
#main-content > #form {
  position: absolute;
  z-index: 1;
  bottom: 0;
  --_input-height: calc(var(--footer-height) - var(--footer-padding-bottom));
  --_border-radius: calc(0.5 * var(--_input-height));

  width: calc(var(--width) - 2 * var(--padding-horizontal) - var(--safearea-left) - var(--safearea-right));
  min-height: var(--footer-height);
  height: var(--footer-height);
  border-top-left-radius: var(--_border-radius);
  border-top-right-radius: var(--_border-radius);
  /* overflow: hidden; */
  background: var(--background);
  padding-bottom: var(--footer-padding-bottom);
}

#main-content > #form > #input {
  width: 100%;
  height: 100%;
  border-radius: var(--_border-radius);
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 300;
  color: var(--color);
  border: none;
  background: var(--color-10-percent);
  padding-left: var(--_border-radius);
  padding-right: var(--_border-radius);
}

#main-content > #form > #input:focus {
  padding-right: var(--_input-height);
}

#main-content > #form > #input::placeholder {
  font-style: italic;
  opacity: 70%;
}

#main-content > #form > button {
  width: var(--_input-height);
  height: var(--_input-height);
  padding: 16px;
  position: absolute;
  right: 2px;
  top: 0;
  border-radius: var(--border-radius-round);
  opacity: 0;
  pointer-events: none;
}

#main-content > #form > button > img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: var(--icon-filter);
}

#main-content > #form:has(input:focus:placeholder-shown) > button {
  right: 0;
  opacity: 0.3;
}

#main-content > #form:has(input:not(:placeholder-shown)) > button,
#main-content > #form:has(input:focus:not(:placeholder-shown)) > button {
  right: 0;
  opacity: 1;
  transform: rotate(-45deg) translate(2px, -2px);
  pointer-events: auto;
}

#intro {
  /* position: relative; */
  width: 100%;
  height: 100%;
  background-color: #BAE5F0;
  background-image: url("../assets/backgrounds/bg.webp");
  background-position: bottom;
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  opacity: 0;
  animation: none;
  &[open] {
    display: flex;
    flex-direction: row;
    animation: bg 13000ms forwards;
  }
}

@keyframes bg {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#intro > div {
  min-width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /* clip-path: inset(30dvh 0px 0px 0px); */
  display: flex;
  flex-direction: column;
  padding: var(--size-32-48);
  color: black;
}

#intro > div > * {
  font-size: var(--size-40-48);
  font-weight: 300;
  width: 100%;
  text-align: center;
  text-wrap: balance;
}

#intro > div:first-of-type {
  background-image: url("../assets/backgrounds/bg1.webp");
  animation: bg1 4000ms forwards;
  opacity: 0;
}

@keyframes bg1 {
  0% {
    transform: translate(50dvh, 0);
    opacity: 0;
  }
  10% {
    transform: none;
    opacity: 1;
  }

  90% {
    margin-left: 0;
    opacity: 1;
  }

  95% {
    opacity: 0;
    margin-left: -10dvw;
  }

  100% {
    margin-left: -100dvw;
    opacity: 0;
  }
}

#intro > div:last-of-type {
  background-image: url("../assets/backgrounds/bg2.webp");
  animation: bg2 3000ms forwards;
  animation-delay: 3800ms;
  opacity: 0;
}

@keyframes bg2 {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  15% {
    opacity: 1;
  }

  85% {
    margin-left: 0;
    opacity: 1;
  }

  /* 95% {
    opacity: 0;
  } */

  100% {
    /* margin-left: -10dvw; */
    opacity: 0;
  }
}

#intro::before {
  content: "";
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/icons/full-logo.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  animation: full-logo 6000ms;
  animation-delay: 7000ms;
}

@keyframes full-logo {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  70% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 1;
  }
}

#intro::after {
  content: "";
  position: absolute;
  opacity: 0;
  transform: rotate(45deg);
  width: 22%;
  height: 22%;
  background-image: url("../assets/icons/logo-color.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: logo 2000ms;
  animation-delay: 10500ms;
  --_filter: brightness(0.1) drop-shadow(30px 30px 30px #00000033);
  -webkit-filter: var(--_filter);
  filter: var(--_filter);
}

#close-intro {
  cursor: pointer;
  opacity: 0.1;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100000;
  transition: var(--transition-time);
}

@keyframes logo {
  0% {
    opacity: 0;
    left: calc(50% - max(50dvw, 50dvh));
    top: calc(50% + max(50dvw, 50dvh));
  }

  2% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: calc(50% + max(50dvw, 50dvh));
    top: calc(50% - max(50dvw, 50dvh));
  }
}

/* Hover, only for non-touchable devices */
@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  #close-intro:hover {
    opacity: 0.9;
  }
  
  button:not(:disabled):not(.disabled):hover {
    opacity: 0.8;
  }

  button:disabled,
  button.disabled {
    cursor: not-allowed;
  }

  /* Side menu */
  #side-menu > a:hover,
  #side-menu > button:hover {
    opacity: 1 !important;
    background: var(--color-10-percent);
    padding: 12px calc(0.5 * var(--padding-horizontal));
  }

  /* Nav | Menu button left */
  body.menu-opened #nav > button:hover > hr,
  #nav > button:hover > hr {
    width: 10px;
  }
  
  #nav > button:hover > hr:first-of-type {
    transform: translate(3px, 1px) rotate(45deg);
  }
  
  #nav > button:hover > hr:last-of-type {
    transform: translate(3px, -1px) rotate(-45deg);
  }

  /* Nav | Cross button left */
  body.menu-opened #nav > button:hover > hr:first-of-type {
    transform: translate(0px, 1px) rotate(-45deg);
  }
  
  body.menu-opened #nav > button:hover > hr:last-of-type {
    transform: translate(0px, -1px) rotate(45deg);
  }

  /* AI agent */
  #agent:hover {
    opacity: 1 !important;
  }

  #agent > div:last-of-type,
  #agent > span:last-of-type {
    transition: var(--transition-time);
  }

  #agent:hover > span:last-of-type {
    color: var(--background);
    background: var(--color);
  }

  #agent:hover > div:last-of-type {
    color: var(--color-75-percent);
  }

  #main-content > #form:has(input:not(:placeholder-shown)) > button:hover {
    transform: rotate(-45deg) translate(4px, -2px);
  }

  #text button:hover {
    --_shadow-color: var(--color);
    --_shadow: 4px 4px 0px var(--_shadow-color);
    -webkit-box-shadow: var(--_shadow);
    box-shadow: var(--_shadow);
    color: var(--color);
    background: none;
    opacity: 1;
    border: 1.5px solid var(--color);
  }
}

@media only screen and (max-width: 560px) {

  /* Main container */
  body.menu-opened #main-content {
    cursor: w-resize;
  }

  body.menu-opened #main-content > *:not(nav) {
    opacity: 0.2;
  }
  body.menu-opened #main-content *:not(nav *) {
    pointer-events: none;
  }

  /* Main | AI Agent */
  #agent {
    background: var(--background);
  }

  /* Main | Text */
  #agent-response > pre {
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  body {
    overflow-x: auto !important;
    scroll-snap-type: x mandatory;
  }
  #side-menu {
    margin-left: 0;
    scroll-snap-align: center;
  }
  #main-content {
    min-width: 100%;
    scroll-snap-align: center;
  }
}