@import "./common.css";

body {
  padding: var(--safearea);
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: unset;
  padding: var(--padding-vertical) 0;
}

h1 {
  line-height: 50%;
}

#nav {
  position: relative;
  width: 100%;
  padding: 0 !important;
  --_height: calc(var(--nav-height) - var(--safearea-top));
  height: var(--_height);
}

#home,
#next,
#back,
#back-home,
.nav-icon,
.nav-icon:active,
.nav-text,
.nav-text:active {
  min-width: var(--_height);
  height: var(--_height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  padding: 12px var(--padding-horizontal);
  transition: var(--transition-time);
  cursor: pointer;
}

#home,
.nav-icon,
.nav-text {
  gap: 12px;
}

#home::after,
#next::after,
#back::before,
#back-home::before,
.nav-icon::after {
  content: "";
  --_size: 18px;
  width: var(--_size);
  height: var(--_size);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--icon-filter);
  transition: var(--transition-time);
}

#next::after,
#back::before,
#back-home::before {
  background-position: center left;
  background-image: url("../assets/icons/chevron-left.svg");
}

#next::after {
  transform: rotate(180deg);
}

#home::after {
  --_size: 16px;
  background-image: url("../assets/icons/home.svg");
  background-position: center;
}

#main {
  position: relative;
  flex: 1;
  width: var(--width);
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  #back-home:hover,
  #back:hover {
    --_offset: min(4px, var(--padding-horizontal));
    padding-left: calc(var(--padding-horizontal) - var(--_offset));
    padding-right: calc(var(--padding-horizontal) + var(--_offset));
  }
  #home:hover,
  .nav-text:hover,
  .nav-icon:hover {
    opacity: 0.7;
  }
}